*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

section {
  max-width: 96rem;
  margin: 0 auto;
  padding: 12rem 0; }

body {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: 1.4rem; }

.primary-heading {
  font-size: 5.2rem;
  display: block;
  margin-bottom: 2rem; }
  .primary-heading--sub {
    display: block;
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: 2rem; }

.secondary-heading {
  font-size: 4.4rem;
  font-weight: 700;
  margin-bottom: 2rem; }

.tertiary-heading {
  font-size: 3.6rem;
  font-weight: 400;
  margin-bottom: 2rem; }

.para {
  font-size: 1.4rem; }
  .para:not(:last-child) {
    margin-bottom: 2rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background-color: #74c69d;
  color: #f8f9fa; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s; }

.menu__drinks,
.menu__snacks {
  display: flex;
  gap: 2rem;
  margin-bottom: 4rem; }

.menu__drinks__card,
.menu__snacks__card {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #95d5b2, #f8f9fa); }
  .menu__drinks__card img,
  .menu__snacks__card img {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
    height: 250px;
    margin-bottom: 2rem; }
  .menu__drinks__card--title,
  .menu__snacks__card--title {
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 1.2rem; }
  .menu__drinks__card--price,
  .menu__snacks__card--price {
    margin-bottom: 1.2rem; }
  .menu__drinks__card--desc,
  .menu__snacks__card--desc {
    padding: 1rem; }

.header {
  height: 85vh;
  background-image: linear-gradient(to right bottom, rgba(73, 80, 87, 0.6), rgba(33, 37, 41, 0.9)), url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }
  .header__content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #f8f9fa;
    line-height: 1.1; }

.nav__list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  font-size: 1.4rem;
  background-color: #74c69d;
  height: 10vh;
  padding: 0 4rem; }

.nav__logo {
  flex: 1; }
  .nav__logo a {
    text-decoration: none;
    color: #f8f9fa; }

.nav__link {
  text-decoration: none;
  color: #f8f9fa; }

.section-about__img--box {
  display: flex;
  margin-bottom: 2rem;
  gap: 1.2rem; }
  .section-about__img--box img {
    width: 50%;
    vertical-align: middle;
    object-fit: cover;
    height: 500px; }

.section-rewards {
  background-image: linear-gradient(to left, rgba(73, 80, 87, 0.5), rgba(33, 37, 41, 0.5)), url(../img/rewards.jpg);
  background-size: cover;
  background-position: center; }
  .section-rewards__content {
    color: #f8f9fa;
    width: 40%;
    padding: 0 4rem; }
    .section-rewards__content:nth-child(2) {
      margin-bottom: 2rem; }
