$primary-color: #74c69d;
$primary-color--light: #95d5b2;
$primary-color--dark: #2d6a4f;
$secondary-color: #ffcb69;
$secondary-color--light: #f1dca7;
$secondary-color--dark: #e8ac65;

$dark-green: #081c15;
$white: #f8f9fa;
$grey--1: #e9ecef;
$grey--2: #495057;
$grey--3: #212529;

// Font
$default-font: 1.4rem;
